body{
    width: 60%;
    height: 70%;
    margin: 20%;
    margin-top: 70px;
    background-color: rgb(233, 227, 227);
}
#CAJA-PADRE{
    border: 2px solid rgb(6, 174, 252);
}
#CAJA-FIRST{
    width: auto;
    background-color: rgb(6, 174, 252);
}
#CAJA-FIRST img{
    height: 100px;
}
#MENU{
    width: auto;
    border: 2px solid;
}
#MENU ul{
    text-align: right;
}
a{
    text-align: end;
    background-color: black;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    display: inline-block;
    align-content: end;

}
a:hover{
    padding: 10px;
    background-color: grey;
    transition: 0.2s;
}
#CAJA-CONTENIDO, #PUBLICIDAD{
    margin: 5px;
    border: 5px solid blue;
}
#CAJA-CONTENIDO{
    width: auto;
}
#FLEX{
    display: flex;
    justify-content: space-between;
}
#PUBLICIDAD{
    background-color: rgb(231, 217, 198);
    width: 200px;
}
#PUBLICIDAD img{
    height: 200px;
    display: table-column;
}
#ELH1{
    text-align: center;
    border: 3px solid red;
    color: red;
}
h3{
    text-align: center;
}

